body {
    background-color: #ffffff;
    font-family: 'Courier Prime', monospace;
    font-size: 150%;
    margin: 0;
}

body .link {
    color: whitesmoke;
    background-color: none;
}

body .link:hover {
    color: rgb(77, 77, 77);
    background-color: #e6e6e6;
}

.header {
    height: 100px;
    background-color: #f7e753;
    margin: 0px;
    border-radius: 0 0 7px 7px;
}

.header .inside {
    display: flex;
    height: 100px;
}

.header .inside p {
    font-size: 200%;
    text-align: center;
    margin-left: 200px;
}

.noheader {
    display: flex;
}

.navigator {
    width: 250px;
    height: 500px;
    background-color: #53adf7;
    float: left;
    margin: 30px;
    /*margin-top: 30px;*/
    border-radius: 7px;
}

.navigator .inside {
    color: whitesmoke;
    margin: 10px;
    font-size: 170%;
}

.article {
    background-color: #ec3939;
    margin: 100px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 7px;
}

.article .inside {
    color: whitesmoke;
    margin: 50px;
}

::selection {
    background: #f0f0f0;
    color: #292929;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #f0f0f0;
    color: #292929;
    /* Gecko Browsers */
}